#inicio {
  background-image: linear-gradient(to left, #8c52ffb2 1%, white 50%);
  height: 65dvh;
  text-align: center;
  padding: 130px 0 0 0;
}
* {
  margin: 0;
  font-family: "Lexend Exa", serif;
}
#left {
  display: inline-flex;
  width: 50%;
  vertical-align: middle;
}
#nome_tec {
  margin: 0 50px 0px 50px;
}
#nome {
  font-size: 100px;
  font-family: "Dela Gothic One", serif;
  font-weight: lighter;
}
#and {
  margin: 0 15px 0 15px;
}
#line {
  border: #8c52ff 1px solid;
  width: 350px;
  height: 0;
  margin: 40px 0 0 50px;
}
#tec {
  display: inline-flex;

  font-size: 23px;
}
.tec {
  background-color: #dccbff;
  color: #8c52ff;
  border-radius: 20px;
  padding: 5px;
}

#right {
  display: inline-flex;
  width: 50%;
  font-size: 23px;
  text-align: right;
  vertical-align: middle;
}
#about {
  margin: 0 30px 0px 200px;
}
#tituloP {
  margin: 100px 0 40px 150px;
}
#tituloP h1 {
  font-size: 80px;
  font-family: "Dela Gothic One", serif;
  display: inline-flex;
}
.lineP {
  width: 110dvh;
  display: inline-flex;
  background-color: #8c52ff;
  height: 4px;
  border-radius: 15px;
  margin: 0 0 15px 120px;
}

#projetos {
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
}
.projeto {
  width: 120dvh;
  margin: 60px auto;
  border-radius: 30px;
  background-color: #8c52ff;
  transition: 0.35s;
  text-align: left;
  padding: 5dvh 0dvh 5dvh 5dvh;
}
.projeto:hover {
  width: 150dvh;
}
.projeto:hover .descricao {
  opacity: 1;
  width: 400px;
}
.projeto:hover #nomeT {
  margin: 5dvh 0 0 20px;
  font-size: 20px;
}

.projeto div img {
  height: 50dvh;
  display: inline-flex;
  border-radius: 30px;
}
.conteudoP {
  width: 70dvh;
  display: inline-flex;
}
#nomeT {
  margin: 15dvh 0 0 20px;
  transition: 0.35s;
  font-size: 28px;
}
#nomeT p {
  display: inline-flex;
  background-color: white;
  margin: 0 1dvh 0 0;
  padding: 5px;
  border-radius: 15px;
  color: #8c52ff;
  font-size: 19.1;
}
#tituloNH {
  color: white;
  font-weight: 400;
}
.descricao {
  opacity: 0;
  margin: 200px -55px 0 -20px;
  transition: 0.35s;
  color: white;
  font-size: 20px;
  min-width: 400px;
}

#curriculo {
  width: 100%;
  min-height: 100dvh;
}
#tituloC {
  font-size: 80px;
  font-family: "Dela Gothic One", serif;
  display: inline-flex;
  background-color: #8c52ff;
  color: white;
  padding: 15px 40px 15px 350px;
  margin-left: -250px;
  border-radius: 80px;
}
#conteudoC {
  height: 120dvh;
  border: #8c52ff 2px solid;
  width: 1300px;
  margin: 120px auto;
  border-radius: 20px;
}
@media (max-width: 1600px) {
  #tituloP h1 {
    font-size: 70px;
  }

  .lineP {
    width: 90dvh;
  }

  .projeto {
    width: 120dvh;
    padding: 3dvh 0dvh 3dvh 3dvh;
  }
  .projeto:hover {
    width: 150dvh;
  }
  .projeto div img {
    height: 40dvh;
  }
}
@media (max-width: 1200px) {
  #nome {
    font-size: 80px;
  }
  #tec {
    font-size: 18px;
  }
  .tec {
    border-radius: 50px;
    padding: 7px;
  }
  #right {
    font-size: 18px;
  }
  #tituloP {
    margin: 40px;
  }
  #tituloP h1 {
    font-size: 70px;
  }
  .lineP {
    width: 85dvh;
  }

  .projeto {
    width: 120dvh;
    padding: 3dvh 0dvh 3dvh 3dvh;
  }
  .projeto:hover {
    width: 15 0dvh;
  }
  .projeto div img {
    height: 40dvh;
    margin: 15px 0 0 0;
  }
  #tituloNH {
    font-size: 40px;
  }
  #nomeT p {
    font-size: 15px;
  }
  .descricao {
    font-size: 15px;
    min-width: 300px;
  }

  #tituloC {
    font-size: 70px;
  }
  #conteudoC {
    width: 900px;
  }
}

@media (max-width: 600px) {
  #inicio {
    height: 100dvh;
    padding: 0px 0 0 0;
    display: block;
  }
  #left {
  }
  #nome_tec {
    margin: 0 0px 80px 0px;
    display: block;
    text-align: center;
  }
  #nome {
    font-size: 50px;
    margin: 100px 0 0 -400px;
  }
  #tec {
    font-size: 18px;
  }
  .tec {
    border-radius: 50px;
    padding: 7px;
  }
  #line {
    opacity: 0;
  }
  #right {
    font-size: 18px;
    display: block;
    width: 500px;
  }
  #tituloP {
    margin: 40px;
  }
  #tituloP h1 {
    font-size: 50px;
  }
  .lineP {
    width: 85dvh;
  }

  .projeto {
    width: 50dvh;
  }
  .conteudoP {
    width: 40dvh;
    display: block;
  }
  .projeto .descricao {
    opacity: 1;
    width: 100px;
    margin: 40px 15px 0 50px;
  }
  .projeto #nomeT {
    margin: 5dvh 0 0 20px;
    font-size: 20px;
  }

  .projeto div img {
    height: 30dvh;
    margin: 15px 0 0 15px;
  }
  #tituloNH {
    font-size: 40px;
  }
  #nomeT p {
    font-size: 15px;
  }
  .descricao {
    font-size: 15px;
    min-width: 300px;
  }
  .lineP {
    opacity: 0;
  }
  #tituloC {
    font-size: 50px;
  }
  #conteudoC {
    width: 400px;
  }
}
