<div id="inicio">
  <div id="left">
    <div id="nome_tec">
      <div><h1 id="nome">Tiago Reiz</h1></div>

      <br />
      <div id="tec">
        <p class="tec">Angular</p>
        <p id="and">&</p>
        <p class="tec">C#</p>
        <div id="line"></div>
      </div>
    </div>
  </div>

  <div id="right">
    <p id="about">
      Sou um desenvolvedor full-stack cursando sistemas de informação.
      Apaixonado em tecnologia e atualmente me especializando em Azure, C# e
      Angular para desenvolver soluções escalaveis, robustas e seguras.
    </p>
  </div>
</div>
<div id="projetos">
  <div id="tituloP">
    <h1>Projetos</h1>
    <p class="lineP"></p>
  </div>
  <div class="projeto">
    <div class="conteudoP">
      <img src="PJ1.png" alt="" />
      <div id="nomeT">
        <h1 id="tituloNH">LinkTree</h1>
        <p>HTML</p>
        <p>CSS</p>
        <p>JS</p>
      </div>
      <p class="descricao">
        LinkTree desenvolvido com ajuda da rocketseat, sendo esse meu primeiro
        projeto em desenvolvimento.
      </p>
    </div>
  </div>
</div>
<div id="curriculo">
  <h1 id="tituloC">Curriculo</h1>
  <div id="conteudoC"></div>
</div>
